body {
  background-color: #fff;
  color: #333;
  font-family: 'Patrick Hand SC', cursive;s
  margin-bottom: 60px;
  font-size: 2em;
}
html {
  position: relative;
  min-height: 100%;
}

#omDiv {
  float: left;
  position: absolute;
  top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  text-align: center;
  
}

.header {
  font-size: 500%;
  
  
}

.spacer {
  border-bottom: 2px solid #ffff99;
  width: 10%;
}

nav {
  
}


.navbar {
  background: none;
  border: none;
  
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #fff !important;
  background-color: #bb0000 !important;
  
}

.navbar-brand {
  color: #bb0000;
  
}

.topSpace {
  margin-top: 20px;
}


#cupcakeIcon {
  width: 120px;
  opacity: 0.5;
  margin-top: 50px;
}

.center {
  margin: 20px auto;
}

.form-control {
  
  font-size: 1.1em;
  width: 80%;
  
  
}

.resultRow {
  
  color: #333333;
  
  
}

.lead {
  text-align: center;
  font-size: 1.5em;
}

.centerText {
  margin-top: 30px;
  text-align: center;
  
}

.bottomMargin {
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.5em;
  }
  
  #cupcakeIcon {
    width: 80px;
    opacity: 0.5;
    margin-top: 40px;
  }
  
  .footer {
    position: relative;
  }
}